<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo_3/blob/main/Proyecto_16_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Equipo 3: Julio Osvaldo Hernández Bucio - A01794366 y Juan Antonio Melendres Villa - A00369017. Dra. María de la Paz Rico Fernández. Proyecto Final Avance 1.

In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/actividades-del-projecto-equipo_3/main/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_superficiales_2020.csv', encoding='latin1')
df.sample(10)

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,...,CONTAMINANTES,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO
465,DLGUA1080,PUENTE PASO DE OVEJAS,LERMA SANTIAGO PACIFICO,GUANAJUATO,SAN FRANCISCO DEL RINCON,RIO TURBIO,RIO TURBIO,LOTICO,RIO,-101.84492,...,"DBO,DQO,SST,CF,E_COLI,OD%L,",NO,NO,NO,NO,NO,ND,NO,SI,LOTICO
850,DLMIC1589,RIO DUERO 1,LERMA SANTIAGO PACIFICO,MICHOACAN DE OCAMPO,BRISEÑAS,RIO LERMA 7,RIO DUERO,LOTICO,RIO,-102.62428,...,"DQO,CF,",SI,NO,SI,NO,SI,ND,SI,SI,LOTICO
2764,OCNOR4086,HUMEDALES DE YAVAROS-MORONCARIT 2,NOROESTE,SONORA,HUATABAMPO,RIO MAYO 3,HUMEDALES DE YAVAROS-MORONCARIT 2,COSTERO (HUMEDAL),LAGUNA,-109.49041,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
1263,DLQUE2134,PRESA ZIMAPAN 2,GOLFO NORTE,QUERETARO ARTEAGA,CADEREYTA DE MONTES,EMBALSE ZIMAPAN,PRESA ZIMAPAN,LENTICO,PRESA,-99.56632,...,"DQO,",SI,NO,SI,SI,SI,ND,SI,SI,LENTICO
3551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,DLBAJ134,ESTERO SAN JORGE LA POZA GRANDE,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,COMONDU,SANTO DOMINGO,ESTERO,COSTERO,ESTERO,-112.09347,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
149,DLCHI294,PLANTA NORTE,RIO BRAVO,CHIHUAHUA,JUAREZ,RIO BRAVO 1,CANAL,LOTICO,CANAL,-106.37040,...,NaN,SI,SI,SI,SI,SI,ND,SI,SI,LOTICO
1830,OCFSU2964,PRESA LA ANGOSTURA 3,FRONTERA SUR,CHIAPAS,LA CONCORDIA,PRESA LA ANGOSTURA,PRESA DR. BELISARIO DOMINGUEZ (LA ANGOSTURA),LENTICO (HUMEDAL),PRESA,-92.56103,...,NaN,SI,SI,SI,SI,SI,ND,SI,SI,LENTICO
1714,OCBAL2821,R12C RIO APATLACO DESPUES BARRANCA POZA HONDA,BALSAS,MORELOS,ZACATEPEC,RIO AMACUZAC,RIO APATLACO,LOTICO A - Tipo 3,RIO,-99.19668,...,"CF,E_COLI,",SI,SI,SI,NO,NO,ND,SI,SI,LOTICO
1822,OCFSU2954,PARQUE NACIONAL LAGUNAS DE MONTEBELLO 3,FRONTERA SUR,CHIAPAS,LA TRINITARIA,COMITAN,LAGUNAS DE MONTEBELLO,LENTICO (HUMEDAL),LAGO,-91.70590,...,"DQO,",SI,NO,SI,SI,SI,ND,SI,SI,LENTICO

Creamos un array de index

In [35]:
index = np.arange(1, 4142, 1)

Podemos eliminar la columna clave y remplazarla con el ID de cada fila

In [36]:
# Find the name of the column by index
n = df.columns[0]

# Drop that column
df.drop(n, axis = 1, inplace = True)

# Put whatever series you want in its place
df[n] = index

Podemos inferir el estado con el dato del municipio en el que se encuentra, eliminamos la columna estado

In [37]:
df = df.drop('ESTADO', axis = 1, inplace = False)

In [38]:
df.head(50)

,SITIO,ORGANISMO_DE_CUENCA,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO,CLAVE
0,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,22.24730,2020.0,...,SI,NO,SI,NO,SI,ND,SI,SI,LENTICO,1
1,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,22.90473,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,2
2,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,22.89880,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,3
3,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,22.89609,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,4
4,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,22.87694,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,5
5,BAHIA CABO SAN LUCAS,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.90250,22.88000,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,6
6,LOS CABOS 2,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.90540,22.88310,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,7
7,LAGUNA TODOS SANTOS - CENTRO DE LA LAGUNA,PENINSULA DE BAJA CALIFORNIA,LA PAZ,TODOS SANTOS,TODOS SANTOS,COSTERO,LAGUNA,-110.23902,23.43930,2020.0,...,ND,ND,SI,ND,ND,NO,NO,SI,COSTERO,8
8,MANANTIAL SAN REGIS,PENINSULA DE BAJA CALIFORNIA,LA PAZ,TODOS SANTOS,TODOS SANTOS,LOTICO,ARROYO,-110.22379,23.45805,2020.0,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,9
9,AGUA CALIENTE II,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SANTIAGO,SANTIAGO,LOTICO,ARROYO,-109.80786,23.43995,2020.0,...,SI,SI,SI,SI,SI,ND,NO,SI,LOTICO,10
10,BOCA DE LA SIERRA,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN JOSE DEL CABO,SAN JOSE DEL CABO,LOTICO (HUMEDAL),ARROYO,-109.82610,23.39128,2020.0,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,11
11,HUMEDAL OASIS DE LA SIERRA EL PILAR 1,PENINSULA DE BAJA CALIFORNIA,LA PAZ,LAS POCITAS-SAN HILARIO,HUMEDAL OASIS DE LA SIERRA EL PILAR 1,LOTICO (HUMEDAL),ARROYO,-110.95153,24.50289,2020.0,...,SI,SI,SI,NO,SI,ND,NO,SI,LOTICO,12
12,OASIS DE LA SIERRA EL PILAR 2,PENINSULA DE BAJA CALIFORNIA,LA PAZ,LAS POCITAS-SAN HILARIO,CUERPO DE AGUA DEL HUMEDAL,LOTICO (HUMEDAL),ARROYO,-111.00268,24.46953,2020.0,...,SI,SI,SI,SI,SI,ND,SI,SI,LOTICO,13
13,MANANTIAL CADUAÑO,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN JOSE DEL CABO,SAN JOSE DEL CABO,LOTICO (HUMEDAL),CANAL,-109.77912,23.33700,2020.0,...,SI,SI,SI,NO,NO,ND,ND,SI,LOTICO,14
14,MANANTIAL SAN BARTOLO,PENINSULA DE BAJA CALIFORNIA,LA PAZ,SAN BARTOLO,SAN BARTOLO,LOTICO,ARROYO,-109.84545,23.73546,2020.0,...,SI,SI,SI,SI,SI,ND,SI,SI,LOTICO,15
15,HUMEDAL LOS COMONDU 1,PENINSULA DE BAJA CALIFORNIA,COMONDU,SANTO DOMINGO,HUMEDAL LOS COMONDU 1,LOTICO (HUMEDAL),ARROYO,-111.80531,26.06218,2020.0,...,SI,SI,SI,SI,SI,ND,SI,SI,LOTICO,16
16,ESTERO EL COYOTE,PENINSULA DE BAJA CALIFORNIA,MULEGE,SAN IGNACIO,ESTERO,COSTERO (HUMEDAL),ESTERO,-113.46249,26.80955,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,17
17,ESTERO SAN JORGE LA POZA GRANDE,PENINSULA DE BAJA CALIFORNIA,COMONDU,SANTO DOMINGO,ESTERO,COSTERO,ESTERO,-112.09347,25.69695,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,18
18,HUMEDAL LOS COMONDU 2,PENINSULA DE BAJA CALIFORNIA,COMONDU,SANTO DOMINGO,HUMEDAL LOS COMONDU 2,LOTICO (HUMEDAL),ARROYO,-111.83250,26.03686,2020.0,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,19
19,PARQUE NACIONAL BAHIA DE LORETO 1,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO (HUMEDAL),BAHIA,-111.23517,25.72330,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,20
20,BAHIA DE LORETO 4,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO (HUMEDAL),BAHIA,-111.25830,25.74527,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,21
21,"PLAYA JUNTO A PUERTO ESCONDIDO BCS SEG 24, 1 I...",PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO,BAHIA,-111.30427,25.80818,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,22
22,PARQUE NACIONAL BAHIA DE LORETO 2,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO,BAHIA,-111.33986,25.87580,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,23
23,BAHIA DE LORETO,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO,BAHIA,-111.33105,25.83630,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,24
24,BAHIA LORETO 2,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO (HUMEDAL),BAHIA,-111.33488,26.00486,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,25
25,BAHIA LORETO 1,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO,BAHIA,-111.34405,26.02468,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,26
26,PARQUE NACIONAL BAHIA DE LORETO 3,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO,BAHIA,-111.32600,26.06100,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,27
27,BAHIA CONCEPCION 5,PENINSULA DE BAJA CALIFORNIA,LORETO,BAHIA CONCEPCION,GOLFO DE CALIFORNIA,COSTERO,BAHIA,-111.77255,26.56365,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,28
28,BAHIA CONCEPCION 3,PENINSULA DE BAJA CALIFORNIA,MULEGE,BAHIA CONCEPCION,BAHIA CONCEPCION,COSTERO,BAHIA,-111.81470,26.62937,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,29
29,BAHIA CONCEPCION 1,PENINSULA DE BAJA CALIFORNIA,MULEGE,BAHIA CONCEPCION,BAHIA CONCEPCION,COSTERO,BAHIA,-111.88428,26.70713,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,30
30,BAHIA CONCEPCION 2,PENINSULA DE BAJA CALIFORNIA,MULEGE,MULEGE,BAHIA CONCEPCION,COSTERO,BAHIA,-111.93964,26.88707,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,31
31,RIO MULEGE (DESEMBOCADURA),PENINSULA DE BAJA CALIFORNIA,MULEGE,MULEGE,TRANSICION RIO - MAR,COSTERO,BAHIA,-111.95340,26.90020,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,32
32,RIO MULEGE 2,PENINSULA DE BAJA CALIFORNIA,MULEGE,MULEGE,RIO MULEGE,LOTICO,ARROYO,-111.98679,26.88692,2020.0,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,33
33,RIO MULEGE 1,PENINSULA DE BAJA CALIFORNIA,MULEGE,MULEGE,RIO MULEGE,LOTICO,ARROYO,-111.98267,26.88867,2020.0,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,34
34,"PLAYA SANTA ROSALIA SEG23, 2 ISA8A",PENINSULA DE BAJA CALIFORNIA,MULEGE,SANTA AGUEDA,GOLFO DE CALIFORNIA,COSTERO,OCEANO-MAR,-112.26147,27.33785,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,35
35,"PLAYA SANTA ROSALIA SEG23, 1 ISA8A",PENINSULA DE BAJA CALIFORNIA,MULEGE,SANTA ROSALIA,GOLFO DE CALIFORNIA,COSTERO,OCEANO-MAR,-112.26933,27.35023,2020.0,...,ND,ND,SI,ND,ND,NO,SI,SI,COSTERO,36
36,LAGUNA SAN IGNACIO 5,PENINSULA DE BAJA CALIFORNIA,MULEGE,SAN IGNACIO,LAGUNA SAN IGNACIO,COSTERO (HUMEDAL),LAGUNA,-113.17406,26.96917,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,37
37,LAGUNA SAN IGNACIO 3,PENINSULA DE BAJA CALIFORNIA,MULEGE,SAN IGNACIO,LAGUNA SAN IGNACIO,COSTERO (HUMEDAL),LAGUNA,-113.14605,26.94383,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,38
38,LAGUNA SAN IGNACIO 1,PENINSULA DE BAJA CALIFORNIA,MULEGE,SAN IGNACIO,LAGUNA SAN IGNACIO,COSTERO (HUMEDAL),LAGUNA,-113.14135,26.90280,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,39
39,LAGUNA SAN IGNACIO 8,PENINSULA DE BAJA CALIFORNIA,MULEGE,SAN IGNACIO,LAGUNA SAN IGNACIO,COSTERO (HUMEDAL),LAGUNA,-113.17136,26.87106,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,40
40,LAGUNA SAN IGNACIO 7,PENINSULA DE BAJA CALIFORNIA,MULEGE,SAN IGNACIO,LAGUNA SAN IGNACIO,COSTERO (HUMEDAL),LAGUNA,-113.15000,26.78600,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,41
41,"PLAYA SANTA ROSALIA, EL BOLEO",PENINSULA DE BAJA CALIFORNIA,MULEGE,SANTA ROSALIA,GOLFO DE CALIFORNIA,COSTERO,OCEANO-MAR,-112.29330,27.37706,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,42
42,LAGUNA SAN IGNACIO,PENINSULA DE BAJA CALIFORNIA,MULEGE,SAN IGNACIO,TRANSICION LAGUNA - MAR,COSTERO (HUMEDAL),LAGUNA,-113.27070,26.73620,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,43
43,LAGUNA SAN IGNACIO 2,PENINSULA DE BAJA CALIFORNIA,MULEGE,SAN IGNACIO,LAGUNA SAN IGNACIO,COSTERO (HUMEDAL),LAGUNA,-113.26459,26.81313,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,44
44,"LA BOCANA SEG18, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,MULEGE,PUNTA EUGENIA,ESTERO,COSTERO,ESTERO,-113.70728,26.78940,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,45
45,"LA BOCANA SEG18, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,MULEGE,PUNTA EUGENIA,ESTERO,COSTERO (HUMEDAL),ESTERO,-113.65367,26.76086,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,46
46,SAN JUANICO,PENINSULA DE BAJA CALIFORNIA,COMONDU,SAN IGNACIO,OCEANO PACIFICO,COSTERO,LAGUNA,-112.47136,26.25615,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,47
47,LAGUNA OJO DE LIEBRE 1,PENINSULA DE BAJA CALIFORNIA,MULEGE,SAN LUIS,LAGUNA OJO DE LIEBRE,COSTERO (HUMEDAL),LAGUNA,-114.19292,27.75162,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,48
48,LAGUNA OJO DE LIEBRE 5,PENINSULA DE BAJA CALIFORNIA,MULEGE,VIZCAINO,LAGUNA OJO DE LIEBRE,COSTERO (HUMEDAL),LAGUNA,-114.28300,27.76011,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,49
49,LAGUNA OJO DE LIEBRE 3,PENINSULA DE BAJA CALIFORNIA,MULEGE,VIZCAINO,LAGUNA OJO DE LIEBRE,COSTERO (HUMEDAL),LAGUNA,-114.10713,27.64750,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,50

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4141 entries, 0 to 4140
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SITIO                   3493 non-null   object
 1   ORGANISMO_DE_CUENCA     3493 non-null   object
 2   MUNICIPIO               3493 non-null   object
 3   CUENCA                  3492 non-null   object
 4   CUERPO DE AGUA          3479 non-null   object
 5   TIPO                    3493 non-null   object
 6   SUBTIPO                 3479 non-null   object
 7   LONGITUD                3493 non-null   float64
 8   LATITUD                 3493 non-null   float64
 9   PERIODO                 3493 non-null   float64
 10  DBO_mg/L                2581 non-null   object
 11  CALIDAD_DBO             2581 non-null   object
 12  DQO_mg/L                2581 non-null   object
 13  CALIDAD_DQO             2581 non-null   object
 14  SST_mg/L                3489 non-null   object
 15  CALIDAD_SST             3489 non-null   object
 16  COLI_FEC_NMP_100mL      2582 non-null   object
 17  CALIDAD_COLI_FEC        2582 non-null   object
 18  E_COLI_NMP_100mL        2582 non-null   object
 19  CALIDAD_E_COLI          2582 non-null   object
 20  ENTEROC_NMP_100mL       904 non-null    object
 21  CALIDAD_ENTEROC         904 non-null    object
 22  OD_PORC                 1797 non-null   object
 23  CALIDAD_OD_PORC         1797 non-null   object
 24  OD_PORC_SUP             1619 non-null   object
 25  CALIDAD_OD_PORC_SUP     1619 non-null   object
 26  OD_PORC_MED             487 non-null    object
 27  CALIDAD_OD_PORC_MED     487 non-null    object
 28  OD_PORC_FON             946 non-null    object
 29  CALIDAD_OD_PORC_FON     946 non-null    object
 30  TOX_D_48_UT             1816 non-null   object
 31  CALIDAD_TOX_D_48        1816 non-null   object
 32  TOX_V_15_UT             1819 non-null   object
 33  CALIDAD_TOX_V_15        1819 non-null   object
 34  TOX_D_48_SUP_UT         762 non-null    object
 35  CALIDAD TOX_D_48_SUP    762 non-null    object
 36  TOX_D_48_FON_UT         0 non-null      float64
 37  CALIDAD_TOX_D_48_FON    0 non-null      float64
 38  TOX_FIS_SUP_15_UT       1674 non-null   object
 39  CALIDAD_TOX_FIS_SUP_15  1674 non-null   object
 40  TOX_FIS_FON_15_UT       0 non-null      float64
 41  CALIDAD_TOX_FIS_FON_15  0 non-null      float64
 42  SEMAFORO                3493 non-null   object
 43  CONTAMINANTES           2226 non-null   object
 44  CUMPLE_CON_DBO          3493 non-null   object
 45  CUMPLE_CON_DQO          3493 non-null   object
 46  CUMPLE_CON_SST          3493 non-null   object
 47  CUMPLE_CON_CF           3493 non-null   object
 48  CUMPLE_CON_E_COLI       3493 non-null   object
 49  CUMPLE_CON_ENTEROC      3493 non-null   object
 50  CUMPLE_CON_OD           3493 non-null   object
 51  CUMPLE_CON_TOX          3493 non-null   object
 52  GRUPO                   3493 non-null   object
 53  CLAVE                   4141 non-null   int64
dtypes: float64(7), int64(1), object(46)
memory usage: 1.7+ MB

Se puede observar que algunos datos que deberian ser tomados como numericos estan siendo almacenados como object

In [40]:
def has_numbers(inputString):
    return any(char.isdigit() for char in inputString)

In [41]:
posibleNumericColumns = []

for colname, coltype in df.dtypes.to_dict().items():
    if coltype ==  'object' : 
      for value in df[colname].values:
        if(has_numbers(str(value))):
          posibleNumericColumns.append(colname)
          break

In [42]:
posibleNumericColumns

['SITIO',
 'CUENCA',
 'CUERPO DE AGUA',
 'TIPO',
 'DBO_mg/L',
 'DQO_mg/L',
 'SST_mg/L',
 'COLI_FEC_NMP_100mL',
 'E_COLI_NMP_100mL',
 'ENTEROC_NMP_100mL',
 'OD_PORC',
 'OD_PORC_SUP',
 'OD_PORC_MED',
 'OD_PORC_FON',
 'TOX_D_48_UT',
 'TOX_V_15_UT',
 'TOX_D_48_SUP_UT',
 'TOX_FIS_SUP_15_UT']

En este tipo de columnas tenemos caracteres especiales como <

In [43]:
posibleNumericColumns.remove('SITIO')
posibleNumericColumns.remove('CUENCA')
posibleNumericColumns.remove('CUERPO DE AGUA')
posibleNumericColumns.remove('TIPO')

In [44]:
for column in posibleNumericColumns:
  df[column] = df[column].astype(str)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4141 entries, 0 to 4140
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SITIO                   3493 non-null   object
 1   ORGANISMO_DE_CUENCA     3493 non-null   object
 2   MUNICIPIO               3493 non-null   object
 3   CUENCA                  3492 non-null   object
 4   CUERPO DE AGUA          3479 non-null   object
 5   TIPO                    3493 non-null   object
 6   SUBTIPO                 3479 non-null   object
 7   LONGITUD                3493 non-null   float64
 8   LATITUD                 3493 non-null   float64
 9   PERIODO                 3493 non-null   float64
 10  DBO_mg/L                4141 non-null   object
 11  CALIDAD_DBO             2581 non-null   object
 12  DQO_mg/L                4141 non-null   object
 13  CALIDAD_DQO             2581 non-null   object
 14  SST_mg/L                4141 non-null   object
 15  CALIDAD_SST             3489 non-null   object
 16  COLI_FEC_NMP_100mL      4141 non-null   object
 17  CALIDAD_COLI_FEC        2582 non-null   object
 18  E_COLI_NMP_100mL        4141 non-null   object
 19  CALIDAD_E_COLI          2582 non-null   object
 20  ENTEROC_NMP_100mL       4141 non-null   object
 21  CALIDAD_ENTEROC         904 non-null    object
 22  OD_PORC                 4141 non-null   object
 23  CALIDAD_OD_PORC         1797 non-null   object
 24  OD_PORC_SUP             4141 non-null   object
 25  CALIDAD_OD_PORC_SUP     1619 non-null   object
 26  OD_PORC_MED             4141 non-null   object
 27  CALIDAD_OD_PORC_MED     487 non-null    object
 28  OD_PORC_FON             4141 non-null   object
 29  CALIDAD_OD_PORC_FON     946 non-null    object
 30  TOX_D_48_UT             4141 non-null   object
 31  CALIDAD_TOX_D_48        1816 non-null   object
 32  TOX_V_15_UT             4141 non-null   object
 33  CALIDAD_TOX_V_15        1819 non-null   object
 34  TOX_D_48_SUP_UT         4141 non-null   object
 35  CALIDAD TOX_D_48_SUP    762 non-null    object
 36  TOX_D_48_FON_UT         0 non-null      float64
 37  CALIDAD_TOX_D_48_FON    0 non-null      float64
 38  TOX_FIS_SUP_15_UT       4141 non-null   object
 39  CALIDAD_TOX_FIS_SUP_15  1674 non-null   object
 40  TOX_FIS_FON_15_UT       0 non-null      float64
 41  CALIDAD_TOX_FIS_FON_15  0 non-null      float64
 42  SEMAFORO                3493 non-null   object
 43  CONTAMINANTES           2226 non-null   object
 44  CUMPLE_CON_DBO          3493 non-null   object
 45  CUMPLE_CON_DQO          3493 non-null   object
 46  CUMPLE_CON_SST          3493 non-null   object
 47  CUMPLE_CON_CF           3493 non-null   object
 48  CUMPLE_CON_E_COLI       3493 non-null   object
 49  CUMPLE_CON_ENTEROC      3493 non-null   object
 50  CUMPLE_CON_OD           3493 non-null   object
 51  CUMPLE_CON_TOX          3493 non-null   object
 52  GRUPO                   3493 non-null   object
 53  CLAVE                   4141 non-null   int64
dtypes: float64(7), int64(1), object(46)
memory usage: 1.7+ MB

In [46]:
df.head()

,SITIO,ORGANISMO_DE_CUENCA,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO,CLAVE
0,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,22.24730,2020.0,...,SI,NO,SI,NO,SI,ND,SI,SI,LENTICO,1
1,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,22.90473,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,2
2,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,22.89880,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,3
3,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,22.89609,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,4
4,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,22.87694,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,5

df['DQO_mg/L'], df['SST_mg/L'], df['COLI_FEC_NMP_100mL'], 
        df['E_COLI_NMP_100mL'], df['ENTEROC_NMP_100mL'], df['OD_PORC'], df['OD_PORC_SUP'],
        df['OD_PORC_MED'], df['OD_PORC_FON'], df['TOX_D_48_UT'], df['TOX_V_15_UT'], df['TOX_D_48_SUP_UT'], df['TOX_FIS_SUP_15_UT']

In [47]:
posibleNumericColumns

['DBO_mg/L',
 'DQO_mg/L',
 'SST_mg/L',
 'COLI_FEC_NMP_100mL',
 'E_COLI_NMP_100mL',
 'ENTEROC_NMP_100mL',
 'OD_PORC',
 'OD_PORC_SUP',
 'OD_PORC_MED',
 'OD_PORC_FON',
 'TOX_D_48_UT',
 'TOX_V_15_UT',
 'TOX_D_48_SUP_UT',
 'TOX_FIS_SUP_15_UT']

In [48]:
colname

'CLAVE'

In [49]:
cols = df.columns[df.dtypes.eq('object')]

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4141 entries, 0 to 4140
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SITIO                   3493 non-null   object
 1   ORGANISMO_DE_CUENCA     3493 non-null   object
 2   MUNICIPIO               3493 non-null   object
 3   CUENCA                  3492 non-null   object
 4   CUERPO DE AGUA          3479 non-null   object
 5   TIPO                    3493 non-null   object
 6   SUBTIPO                 3479 non-null   object
 7   LONGITUD                3493 non-null   float64
 8   LATITUD                 3493 non-null   float64
 9   PERIODO                 3493 non-null   float64
 10  DBO_mg/L                4141 non-null   object
 11  CALIDAD_DBO             2581 non-null   object
 12  DQO_mg/L                4141 non-null   object
 13  CALIDAD_DQO             2581 non-null   object
 14  SST_mg/L                4141 non-null   object
 15  CALIDAD_SST             3489 non-null   object
 16  COLI_FEC_NMP_100mL      4141 non-null   object
 17  CALIDAD_COLI_FEC        2582 non-null   object
 18  E_COLI_NMP_100mL        4141 non-null   object
 19  CALIDAD_E_COLI          2582 non-null   object
 20  ENTEROC_NMP_100mL       4141 non-null   object
 21  CALIDAD_ENTEROC         904 non-null    object
 22  OD_PORC                 4141 non-null   object
 23  CALIDAD_OD_PORC         1797 non-null   object
 24  OD_PORC_SUP             4141 non-null   object
 25  CALIDAD_OD_PORC_SUP     1619 non-null   object
 26  OD_PORC_MED             4141 non-null   object
 27  CALIDAD_OD_PORC_MED     487 non-null    object
 28  OD_PORC_FON             4141 non-null   object
 29  CALIDAD_OD_PORC_FON     946 non-null    object
 30  TOX_D_48_UT             4141 non-null   object
 31  CALIDAD_TOX_D_48        1816 non-null   object
 32  TOX_V_15_UT             4141 non-null   object
 33  CALIDAD_TOX_V_15        1819 non-null   object
 34  TOX_D_48_SUP_UT         4141 non-null   object
 35  CALIDAD TOX_D_48_SUP    762 non-null    object
 36  TOX_D_48_FON_UT         0 non-null      float64
 37  CALIDAD_TOX_D_48_FON    0 non-null      float64
 38  TOX_FIS_SUP_15_UT       4141 non-null   object
 39  CALIDAD_TOX_FIS_SUP_15  1674 non-null   object
 40  TOX_FIS_FON_15_UT       0 non-null      float64
 41  CALIDAD_TOX_FIS_FON_15  0 non-null      float64
 42  SEMAFORO                3493 non-null   object
 43  CONTAMINANTES           2226 non-null   object
 44  CUMPLE_CON_DBO          3493 non-null   object
 45  CUMPLE_CON_DQO          3493 non-null   object
 46  CUMPLE_CON_SST          3493 non-null   object
 47  CUMPLE_CON_CF           3493 non-null   object
 48  CUMPLE_CON_E_COLI       3493 non-null   object
 49  CUMPLE_CON_ENTEROC      3493 non-null   object
 50  CUMPLE_CON_OD           3493 non-null   object
 51  CUMPLE_CON_TOX          3493 non-null   object
 52  GRUPO                   3493 non-null   object
 53  CLAVE                   4141 non-null   int64
dtypes: float64(7), int64(1), object(46)
memory usage: 1.7+ MB

In [51]:
df.head()

,SITIO,ORGANISMO_DE_CUENCA,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO,CLAVE
0,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,22.24730,2020.0,...,SI,NO,SI,NO,SI,ND,SI,SI,LENTICO,1
1,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,22.90473,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,2
2,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,22.89880,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,3
3,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,22.89609,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,4
4,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,22.87694,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,5

Eliminemos las columnas que tienen todos los valores nulos con base en lo observado arriba

In [52]:
df = df.drop('TOX_D_48_FON_UT', axis = 1, inplace = False)
df = df.drop('CALIDAD_TOX_D_48_FON', axis = 1, inplace = False)
df = df.drop('TOX_FIS_FON_15_UT', axis = 1, inplace = False)
df = df.drop('CALIDAD_TOX_FIS_FON_15', axis = 1, inplace = False)

Se puede observar que las ultimas filas vienen vacias

In [53]:
df.tail(100)

,SITIO,ORGANISMO_DE_CUENCA,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO,CLAVE
4041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4042
4042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4043
4043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4044
4044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4045
4045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4137
4137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4138
4138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4139
4139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4140
4140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4141

Buscamos el indice del ultimo registro que tiene informacion

In [54]:
indexRow = df.index[df['SITIO'] == 'RIO BRAVO 8 (PASO DE LOS INDIOS)']
indexRow

Int64Index([3492], dtype='int64')

In [55]:
df.loc[3492:].isnull().sum()

SITIO                     648
ORGANISMO_DE_CUENCA       648
MUNICIPIO                 648
CUENCA                    648
CUERPO DE AGUA            648
TIPO                      648
SUBTIPO                   648
LONGITUD                  648
LATITUD                   648
PERIODO                   648
DBO_mg/L                    0
CALIDAD_DBO               648
DQO_mg/L                    0
CALIDAD_DQO               648
SST_mg/L                    0
CALIDAD_SST               648
COLI_FEC_NMP_100mL          0
CALIDAD_COLI_FEC          648
E_COLI_NMP_100mL            0
CALIDAD_E_COLI            648
ENTEROC_NMP_100mL           0
CALIDAD_ENTEROC           649
OD_PORC                     0
CALIDAD_OD_PORC           648
OD_PORC_SUP                 0
CALIDAD_OD_PORC_SUP       649
OD_PORC_MED                 0
CALIDAD_OD_PORC_MED       649
OD_PORC_FON                 0
CALIDAD_OD_PORC_FON       649
TOX_D_48_UT                 0
CALIDAD_TOX_D_48          648
TOX_V_15_UT                 0
CALIDAD_TOX_V_15          648
TOX_D_48_SUP_UT             0
CALIDAD TOX_D_48_SUP      649
TOX_FIS_SUP_15_UT           0
CALIDAD_TOX_FIS_SUP_15    649
SEMAFORO                  648
CONTAMINANTES             648
CUMPLE_CON_DBO            648
CUMPLE_CON_DQO            648
CUMPLE_CON_SST            648
CUMPLE_CON_CF             648
CUMPLE_CON_E_COLI         648
CUMPLE_CON_ENTEROC        648
CUMPLE_CON_OD             648
CUMPLE_CON_TOX            648
GRUPO                     648
CLAVE                       0
dtype: int64

In [56]:
4141 - 649

3492

In [57]:
df = df.drop(df.index[3493:])

In [58]:
df.shape

(3493, 50)

In [59]:
posibleNumericColumns

['DBO_mg/L',
 'DQO_mg/L',
 'SST_mg/L',
 'COLI_FEC_NMP_100mL',
 'E_COLI_NMP_100mL',
 'ENTEROC_NMP_100mL',
 'OD_PORC',
 'OD_PORC_SUP',
 'OD_PORC_MED',
 'OD_PORC_FON',
 'TOX_D_48_UT',
 'TOX_V_15_UT',
 'TOX_D_48_SUP_UT',
 'TOX_FIS_SUP_15_UT']

In [60]:
df[posibleNumericColumns] = df[posibleNumericColumns].astype(str)

In [61]:
df.iloc[:, 12:]

,DQO_mg/L,CALIDAD_DQO,SST_mg/L,CALIDAD_SST,COLI_FEC_NMP_100mL,CALIDAD_COLI_FEC,E_COLI_NMP_100mL,CALIDAD_E_COLI,ENTEROC_NMP_100mL,CALIDAD_ENTEROC,...,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO,CLAVE
0,54.08,Contaminada,13.75,Excelente,1162,Contaminada,98,Excelente,nan,NaN,...,SI,NO,SI,NO,SI,ND,SI,SI,LENTICO,1
1,nan,NaN,<10,Excelente,nan,NaN,nan,NaN,20,Excelente,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,2
2,nan,NaN,<10,Excelente,nan,NaN,nan,NaN,<3,Excelente,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,3
3,nan,NaN,13.9667,Excelente,nan,NaN,nan,NaN,<3,Excelente,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,4
4,nan,NaN,<10,Excelente,nan,NaN,nan,NaN,30,Excelente,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,<10,Excelente,122,Aceptable,2400,Contaminada,2400,Fuertemente contaminada,nan,NaN,...,SI,SI,SI,NO,NO,ND,SI,SI,LOTICO,3489
3489,115.88,Contaminada,54,Buena calidad,2400,Contaminada,4,Excelente,nan,NaN,...,NO,NO,SI,NO,SI,ND,SI,SI,LENTICO,3490
3490,87.64,Contaminada,70,Buena calidad,240,Aceptable,15,Excelente,nan,NaN,...,SI,NO,SI,SI,SI,ND,SI,SI,LOTICO,3491
3491,35.92,Aceptable,56,Buena calidad,2400,Contaminada,11,Excelente,nan,NaN,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,3492
3492,34.6,Aceptable,45,Buena calidad,2400,Contaminada,15,Excelente,nan,NaN,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,3493

In [62]:
strNumericColumn = posibleNumericColumns[0] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[0]) + 1, strNumericColumn, "")

df[strNumericColumn] = df[posibleNumericColumns[0]].str.contains('<')

In [63]:
strNumericColumn = posibleNumericColumns[1] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[1]) + 1, strNumericColumn, "")

df[posibleNumericColumns[1] + 'Min'] = df[posibleNumericColumns[1]].str.contains('<')

In [64]:
strNumericColumn = posibleNumericColumns[2] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[2]) + 1, strNumericColumn, "")

df[posibleNumericColumns[2] + 'Min'] = df[posibleNumericColumns[2]].str.contains('<')

In [65]:
strNumericColumn = posibleNumericColumns[3] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[3]) + 1, strNumericColumn, "")

df[posibleNumericColumns[3] + 'Min'] = df[posibleNumericColumns[3]].str.contains('<')

In [66]:
strNumericColumn = posibleNumericColumns[4] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[4]) + 1, strNumericColumn, "")

df[posibleNumericColumns[4] + 'Min'] = df[posibleNumericColumns[4]].str.contains('<')

In [67]:
strNumericColumn = posibleNumericColumns[5] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[5]) + 1, strNumericColumn, "")

df[posibleNumericColumns[5] + 'Min'] = df[posibleNumericColumns[5]].str.contains('<')

In [68]:
strNumericColumn = posibleNumericColumns[6] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[6]) + 1, strNumericColumn, "")

df[posibleNumericColumns[6] + 'Min'] = df[posibleNumericColumns[6]].str.contains('<')

In [69]:
strNumericColumn = posibleNumericColumns[7] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[7]) + 1, strNumericColumn, "")

df[posibleNumericColumns[7] + 'Min'] = df[posibleNumericColumns[7]].str.contains('<')

In [70]:
strNumericColumn = posibleNumericColumns[8] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[8]) + 1, strNumericColumn, "")

df[posibleNumericColumns[8] + 'Min'] = df[posibleNumericColumns[8]].str.contains('<')

In [71]:
strNumericColumn = posibleNumericColumns[9] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[9]) + 1, strNumericColumn, "")

df[posibleNumericColumns[9] + 'Min'] = df[posibleNumericColumns[9]].str.contains('<')

In [72]:
strNumericColumn = posibleNumericColumns[10] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[10]) + 1, strNumericColumn, "")

df[posibleNumericColumns[10] + 'Min'] = df[posibleNumericColumns[10]].str.contains('<')

In [73]:
strNumericColumn = posibleNumericColumns[11] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[11]) + 1, strNumericColumn, "")

df[posibleNumericColumns[11] + 'Min'] = df[posibleNumericColumns[11]].str.contains('<')

In [74]:
strNumericColumn = posibleNumericColumns[12] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[12]) + 1, strNumericColumn, "")

df[posibleNumericColumns[12] + 'Min'] = df[posibleNumericColumns[12]].str.contains('<')

In [75]:
strNumericColumn = posibleNumericColumns[13] + 'Min'

df.insert(df.columns.get_loc(posibleNumericColumns[13]) + 1, strNumericColumn, "")

df[posibleNumericColumns[13] + 'Min'] = df[posibleNumericColumns[13]].str.contains('<')

In [76]:
df.iloc[:50, 10:]

,DBO_mg/L,DBO_mg/LMin,CALIDAD_DBO,DQO_mg/L,DQO_mg/LMin,CALIDAD_DQO,SST_mg/L,SST_mg/LMin,CALIDAD_SST,COLI_FEC_NMP_100mL,...,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO,CLAVE
0,6,False,Buena calidad,54.08,False,Contaminada,13.75,False,Excelente,1162,...,SI,NO,SI,NO,SI,ND,SI,SI,LENTICO,1
1,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,2
2,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,3
3,nan,False,NaN,nan,False,NaN,13.9667,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,4
4,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,5
5,nan,False,NaN,nan,False,NaN,22.0667,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,6
6,nan,False,NaN,nan,False,NaN,13.9667,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,7
7,nan,False,NaN,nan,False,NaN,57.85,False,Buena calidad,nan,...,ND,ND,SI,ND,ND,NO,NO,SI,COSTERO,8
8,<2,True,Excelente,<10,True,Excelente,33.9,False,Buena calidad,3873,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,9
9,<2,True,Excelente,<10,True,Excelente,25.6,False,Buena calidad,189,...,SI,SI,SI,SI,SI,ND,NO,SI,LOTICO,10
10,4.26,False,Buena calidad,27.98,False,Aceptable,14,False,Excelente,1408,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,11
11,<2,True,Excelente,<10,True,Excelente,<10,True,Excelente,15531,...,SI,SI,SI,NO,SI,ND,NO,SI,LOTICO,12
12,<2,True,Excelente,<10,True,Excelente,<10,True,Excelente,10,...,SI,SI,SI,SI,SI,ND,SI,SI,LOTICO,13
13,6.4,False,Aceptable,<10,True,Excelente,<10,True,Excelente,24196,...,SI,SI,SI,NO,NO,ND,ND,SI,LOTICO,14
14,<2,True,Excelente,<10,True,Excelente,<10,True,Excelente,218,...,SI,SI,SI,SI,SI,ND,SI,SI,LOTICO,15
15,<2,True,Excelente,<10,True,Excelente,<10,True,Excelente,663,...,SI,SI,SI,SI,SI,ND,SI,SI,LOTICO,16
16,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,17
17,nan,False,NaN,nan,False,NaN,19.5333,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,18
18,<2,True,Excelente,<10,True,Excelente,10.1,False,Excelente,1408,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,19
19,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,20
20,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,21
21,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,22
22,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,23
23,nan,False,NaN,nan,False,NaN,16.8571,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,24
24,nan,False,NaN,nan,False,NaN,13.8667,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,25
25,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,26
26,nan,False,NaN,nan,False,NaN,10.7333,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,27
27,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,28
28,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,29
29,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,30
30,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,31
31,nan,False,NaN,nan,False,NaN,13.8,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,32
32,<2,True,Excelente,<10,True,Excelente,<10,True,Excelente,14136,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,33
33,4.98,False,Buena calidad,15.19,False,Buena calidad,<10,True,Excelente,1720,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,34
34,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,35
35,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,NO,SI,SI,COSTERO,36
36,nan,False,NaN,nan,False,NaN,49.4667,False,Buena calidad,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,37
37,nan,False,NaN,nan,False,NaN,14.92,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,38
38,nan,False,NaN,nan,False,NaN,31.6,False,Buena calidad,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,39
39,nan,False,NaN,nan,False,NaN,25.28,False,Buena calidad,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,40
40,nan,False,NaN,nan,False,NaN,13.4,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,41
41,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,42
42,nan,False,NaN,nan,False,NaN,11.6667,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,43
43,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,44
44,nan,False,NaN,nan,False,NaN,14.6667,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,45
45,nan,False,NaN,nan,False,NaN,14,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,46
46,nan,False,NaN,nan,False,NaN,11.5333,False,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,47
47,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,48
48,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,49
49,nan,False,NaN,nan,False,NaN,<10,True,Excelente,nan,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,50

In [44]:
df.head()

,SITIO,ORGANISMO_DE_CUENCA,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,E_COLI_NMP_100mLMin,ENTEROC_NMP_100mLMin,OD_PORCMin,OD_PORC_SUPMin,OD_PORC_MEDMin,OD_PORC_FONMin,TOX_D_48_UTMin,TOX_V_15_UTMin,TOX_D_48_SUP_UTMin,TOX_FIS_SUP_15_UTMin
0,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,22.24730,2020.0,...,False,False,False,False,False,False,False,False,False,False
1,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,22.90473,2020.0,...,False,False,False,False,False,False,False,False,False,False
2,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,22.89880,2020.0,...,False,False,False,False,False,False,False,False,False,False
3,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,22.89609,2020.0,...,False,False,False,False,False,False,False,False,False,False
4,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,22.87694,2020.0,...,False,False,False,False,False,False,False,False,False,False

Faltan los valores < 1 y esas cosas

In [ ]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

In [ ]:
df2 = df1[df1.isnull().any(axis=1)]
df2.loc[:,numericColumns]

       LONGITUD   LATITUD  PERIODO  CLAVE
0    -102.33911  22.24730   2020.0      1
1    -109.84290  22.90473   2020.0      2
2    -109.86442  22.89880   2020.0      3
3    -109.88604  22.89609   2020.0      4
4    -109.89657  22.87694   2020.0      5
...         ...       ...      ...    ...
3488  -99.42142  26.78971   2020.0   3489
3489  -99.53064  27.43714   2020.0   3490
3490  -99.50727  27.49901   2020.0   3491
3491  -99.52221  27.49631   2020.0   3492
3492  -99.52572  27.51697   2020.0   3493

[3493 rows x 4 columns]

In [ ]:
df1['CUMPLE_CON_DBO'] = df1['CUMPLE_CON_DBO'].replace('SI',int(1))
df1['CUMPLE_CON_DBO'] = df1['CUMPLE_CON_DBO'].replace('NO',int(0))
df1['CUMPLE_CON_DBO'] = df1['CUMPLE_CON_DBO'].replace('ND',np.NaN)

0     1.0
1     NaN
2     NaN
3     NaN
4     NaN
     ...
95    NaN
96    NaN
97    NaN
98    NaN
99    NaN
Name: CUMPLE_CON_DBO, Length: 100, dtype: float64

In [ ]:
df1['CUMPLE_CON_DQO'] = df1['CUMPLE_CON_DQO'].replace('SI',int(1))
df1['CUMPLE_CON_DQO'] = df1['CUMPLE_CON_DQO'].replace('NO',int(0))
df1['CUMPLE_CON_DQO'] = df1['CUMPLE_CON_DQO'].replace('ND',np.NaN)

In [ ]:
df1['CUMPLE_CON_SST'] = df1['CUMPLE_CON_SST'].replace('SI',int(1))
df1['CUMPLE_CON_SST'] = df1['CUMPLE_CON_SST'].replace('NO',int(0))
df1['CUMPLE_CON_SST'] = df1['CUMPLE_CON_SST'].replace('ND',np.NaN)

In [ ]:
df1['CUMPLE_CON_CF'] = df1['CUMPLE_CON_CF'].replace('SI',int(1))
df1['CUMPLE_CON_CF'] = df1['CUMPLE_CON_CF'].replace('NO',int(0))
df1['CUMPLE_CON_CF'] = df1['CUMPLE_CON_CF'].replace('ND',np.NaN)

In [ ]:
df1['CUMPLE_CON_E_COLI'] = df1['CUMPLE_CON_E_COLI'].replace('SI',int(1))
df1['CUMPLE_CON_E_COLI'] = df1['CUMPLE_CON_E_COLI'].replace('NO',int(0))
df1['CUMPLE_CON_E_COLI'] = df1['CUMPLE_CON_E_COLI'].replace('ND',np.NaN)

In [ ]:
df1['CUMPLE_CON_ENTEROC'] = df1['CUMPLE_CON_ENTEROC'].replace('SI',int(1))
df1['CUMPLE_CON_ENTEROC'] = df1['CUMPLE_CON_ENTEROC'].replace('NO',int(0))
df1['CUMPLE_CON_ENTEROC'] = df1['CUMPLE_CON_ENTEROC'].replace('ND',np.NaN)

In [ ]:
df1['CUMPLE_CON_OD'] = df1['CUMPLE_CON_OD'].replace('SI',int(1))
df1['CUMPLE_CON_OD'] = df1['CUMPLE_CON_OD'].replace('NO',int(0))
df1['CUMPLE_CON_OD'] = df1['CUMPLE_CON_OD'].replace('ND',np.NaN)

In [ ]:
df1['CUMPLE_CON_TOX'] = df1['CUMPLE_CON_TOX'].replace('SI',int(1))
df1['CUMPLE_CON_TOX'] = df1['CUMPLE_CON_TOX'].replace('NO',int(0))
df1['CUMPLE_CON_TOX'] = df1['CUMPLE_CON_TOX'].replace('ND',np.NaN)