<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo_3/blob/main/Proyecto_18_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Proyecto Reto Entrega 1**

![kisspng-monterrey-institute-of-technology-and-higher-educa-curso-mooc-desarrollo-r√Åpido-de-productos-innova-5b6afb397c9142.8549116215337377855102.png]()

*   **Alumnos:** Julio Osvaldo Hern√°ndez Bucio y Juan Antonio Melendres Villa
*   **Matr√≠cula:** A017944366 y A00369017
*   **Equipo:** 3
*   **Materia:** Ciencia y anal√≠tica de datos (Gpo 10)
*   **Profesor:** Mar√≠a de la Paz Rico Fern√°ndez.
*   **Fecha:** 16 de Noviembre de 2022

**Importamos librerias e instalamos paquetes**

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing

from shapely.geometry import Point
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

from yellowbrick.cluster import KElbowVisualizer
from sklearn.datasets import make_blobs
import math

# Limpieza de base de datos.

**Importamos la base de datos a utilizar**

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/actividades-del-projecto-equipo_3/main/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_superficiales_2020.csv', encoding='latin1')
df.sample(10)

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,...,CONTAMINANTES,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO
2230,OCGCE3401W1,PUENTE LAGUNA TAMPAMACHOCO,GOLFO CENTRO,VERACRUZ DE IGNACIO DE LA LLAVE,TUXPAN,RIO TUXPAN,LAGUNA DE TAMPAMACHOCO,COSTERO (HUMEDAL),LAGUNA,-97.32664,...,"ENT_FEC,",ND,ND,SI,ND,ND,NO,SI,SI,COSTERO
2529,OCLSP3762M1,PRESA SANTA ROSA I,LERMA SANTIAGO PACIFICO,JALISCO,AMATITAN,PRESA SANTA ROSA,PRESA MANUEL M. DIEGUEZ,LENTICO (HUMEDAL),PRESA,-103.69628,...,"OD%F,",SI,SI,SI,SI,SI,ND,NO,SI,LENTICO
2084,OCGCE3240,MARTINEZ DE LA TORRE (CITROFRUT),GOLFO CENTRO,VERACRUZ DE IGNACIO DE LA LLAVE,SAN RAFAEL,RIO NAUTLA,ARROYO LA BASINICA AFLUENTE AL RIO BOBOS,LOTICO,ARROYO,-96.93040,...,"CF,E_COLI,",SI,SI,SI,NO,NO,ND,SI,SI,LOTICO
1807,OCFSU2931,RIO SAN VICENTE 5,FRONTERA SUR,CHIAPAS,VENUSTIANO CARRANZA,AGUACATENCO,RIO SAN VICENTE,LOTICO,RIO,-92.50140,...,"DQO,CF,E_COLI,",SI,NO,SI,NO,NO,ND,SI,SI,LOTICO
1647,DLZAC2684,"COMPA√ëIA CERVECERA DE ZACATECAS, S.A. DE C.V. ...",CUENCAS CENTRALES DEL NORTE,ZACATECAS,FRESNILLO,FRESNILLO-YESCAS,LAGUNA SANTA ANA,LENTICO (HUMEDAL),LAGUNA,-102.76700,...,"DQO,TOX_S,",SI,NO,SI,SI,SI,ND,SI,NO,LENTICO
2621,OCLSP3872M1,PRESA TRIGOMIL CENTRO,LERMA SANTIAGO PACIFICO,JALISCO,UNION DE TULA,CORCOVADO,PRESA TRIGOMIL,LENTICO (HUMEDAL),PRESA,-104.36499,...,NaN,SI,SI,SI,SI,SI,ND,SI,SI,LENTICO
797,DLAGU14,PRESA PRESIDENTE CALLES EMBARCADERO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,SAN JOSE DE GRACIA,PRESA CALLES,PRESA PRESIDENTE CALLES,LENTICO (HUMEDAL),PRESA,-102.42630,...,NaN,SI,SI,SI,SI,SI,ND,SI,SI,LENTICO
899,DLMIC1664,RIO LERMA 49,LERMA SANTIAGO PACIFICO,MICHOACAN DE OCAMPO,JOSE SIXTO VERDUZCO,RIO LERMA 5,RIO LERMA,LOTICO,RIO,-101.46092,...,"DQO,CF,E_COLI,OD%L,",SI,NO,SI,NO,NO,ND,NO,SI,LOTICO
3073,OCPNO4579,RIO SAN LORENZO 8,PACIFICO NORTE,SINALOA,COSALA,RIO SAN LORENZO 2,RIO SAN LORENZO,LOTICO,RIO,-106.95173,...,"CF,",SI,SI,SI,NO,SI,ND,SI,SI,LOTICO
3121,OCPNO4661,ESTERO DE URIAS-PARQUE BONFIL,PACIFICO NORTE,SINALOA,MAZATLAN,GRUPO DE CORRIENTES MAZATLAN,ESTERO URIAS/B. MAZATLAN,COSTERO (HUMEDAL),ESTERO,-106.39478,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO

Creamos un array de index

In [6]:
index = np.arange(1, 4142, 1)

Podemos eliminar la columna clave y remplazarla con el ID de cada fila

In [7]:
# Find the name of the column by index
n = df.columns[0]

# Drop that column
df.drop(n, axis = 1, inplace = True)

# Put whatever series you want in its place
df[n] = index

Podemos inferir el estado con el dato del municipio en el que se encuentra, eliminamos la columna estado

In [8]:
df = df.drop('ESTADO', axis = 1, inplace = False)

In [9]:
df.head(25)

,SITIO,ORGANISMO_DE_CUENCA,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO,CLAVE
0,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,22.24730,2020.0,...,SI,NO,SI,NO,SI,ND,SI,SI,LENTICO,1
1,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,22.90473,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,2
2,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,22.89880,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,3
3,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,22.89609,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,4
4,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,22.87694,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,5
5,BAHIA CABO SAN LUCAS,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.90250,22.88000,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,6
6,LOS CABOS 2,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.90540,22.88310,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,7
7,LAGUNA TODOS SANTOS - CENTRO DE LA LAGUNA,PENINSULA DE BAJA CALIFORNIA,LA PAZ,TODOS SANTOS,TODOS SANTOS,COSTERO,LAGUNA,-110.23902,23.43930,2020.0,...,ND,ND,SI,ND,ND,NO,NO,SI,COSTERO,8
8,MANANTIAL SAN REGIS,PENINSULA DE BAJA CALIFORNIA,LA PAZ,TODOS SANTOS,TODOS SANTOS,LOTICO,ARROYO,-110.22379,23.45805,2020.0,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,9
9,AGUA CALIENTE II,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SANTIAGO,SANTIAGO,LOTICO,ARROYO,-109.80786,23.43995,2020.0,...,SI,SI,SI,SI,SI,ND,NO,SI,LOTICO,10
10,BOCA DE LA SIERRA,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN JOSE DEL CABO,SAN JOSE DEL CABO,LOTICO (HUMEDAL),ARROYO,-109.82610,23.39128,2020.0,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,11
11,HUMEDAL OASIS DE LA SIERRA EL PILAR 1,PENINSULA DE BAJA CALIFORNIA,LA PAZ,LAS POCITAS-SAN HILARIO,HUMEDAL OASIS DE LA SIERRA EL PILAR 1,LOTICO (HUMEDAL),ARROYO,-110.95153,24.50289,2020.0,...,SI,SI,SI,NO,SI,ND,NO,SI,LOTICO,12
12,OASIS DE LA SIERRA EL PILAR 2,PENINSULA DE BAJA CALIFORNIA,LA PAZ,LAS POCITAS-SAN HILARIO,CUERPO DE AGUA DEL HUMEDAL,LOTICO (HUMEDAL),ARROYO,-111.00268,24.46953,2020.0,...,SI,SI,SI,SI,SI,ND,SI,SI,LOTICO,13
13,MANANTIAL CADUA√ëO,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN JOSE DEL CABO,SAN JOSE DEL CABO,LOTICO (HUMEDAL),CANAL,-109.77912,23.33700,2020.0,...,SI,SI,SI,NO,NO,ND,ND,SI,LOTICO,14
14,MANANTIAL SAN BARTOLO,PENINSULA DE BAJA CALIFORNIA,LA PAZ,SAN BARTOLO,SAN BARTOLO,LOTICO,ARROYO,-109.84545,23.73546,2020.0,...,SI,SI,SI,SI,SI,ND,SI,SI,LOTICO,15
15,HUMEDAL LOS COMONDU 1,PENINSULA DE BAJA CALIFORNIA,COMONDU,SANTO DOMINGO,HUMEDAL LOS COMONDU 1,LOTICO (HUMEDAL),ARROYO,-111.80531,26.06218,2020.0,...,SI,SI,SI,SI,SI,ND,SI,SI,LOTICO,16
16,ESTERO EL COYOTE,PENINSULA DE BAJA CALIFORNIA,MULEGE,SAN IGNACIO,ESTERO,COSTERO (HUMEDAL),ESTERO,-113.46249,26.80955,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,17
17,ESTERO SAN JORGE LA POZA GRANDE,PENINSULA DE BAJA CALIFORNIA,COMONDU,SANTO DOMINGO,ESTERO,COSTERO,ESTERO,-112.09347,25.69695,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,18
18,HUMEDAL LOS COMONDU 2,PENINSULA DE BAJA CALIFORNIA,COMONDU,SANTO DOMINGO,HUMEDAL LOS COMONDU 2,LOTICO (HUMEDAL),ARROYO,-111.83250,26.03686,2020.0,...,SI,SI,SI,NO,SI,ND,SI,SI,LOTICO,19
19,PARQUE NACIONAL BAHIA DE LORETO 1,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO (HUMEDAL),BAHIA,-111.23517,25.72330,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,20
20,BAHIA DE LORETO 4,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO (HUMEDAL),BAHIA,-111.25830,25.74527,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,21
21,"PLAYA JUNTO A PUERTO ESCONDIDO BCS SEG 24, 1 I...",PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO,BAHIA,-111.30427,25.80818,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,22
22,PARQUE NACIONAL BAHIA DE LORETO 2,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO,BAHIA,-111.33986,25.87580,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,23
23,BAHIA DE LORETO,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO,BAHIA,-111.33105,25.83630,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,24
24,BAHIA LORETO 2,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO (HUMEDAL),BAHIA,-111.33488,26.00486,2020.0,...,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO,25

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4141 entries, 0 to 4140
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SITIO                   3493 non-null   object
 1   ORGANISMO_DE_CUENCA     3493 non-null   object
 2   MUNICIPIO               3493 non-null   object
 3   CUENCA                  3492 non-null   object
 4   CUERPO DE AGUA          3479 non-null   object
 5   TIPO                    3493 non-null   object
 6   SUBTIPO                 3479 non-null   object
 7   LONGITUD                3493 non-null   float64
 8   LATITUD                 3493 non-null   float64
 9   PERIODO                 3493 non-null   float64
 10  DBO_mg/L                2581 non-null   object
 11  CALIDAD_DBO             2581 non-null   object
 12  DQO_mg/L                2581 non-null   object
 13  CALIDAD_DQO             2581 non-null   object
 14  SST_mg/L                3489 non-null   object
 15  CALIDAD_SST             3489 non-null   object
 16  COLI_FEC_NMP_100mL      2582 non-null   object
 17  CALIDAD_COLI_FEC        2582 non-null   object
 18  E_COLI_NMP_100mL        2582 non-null   object
 19  CALIDAD_E_COLI          2582 non-null   object
 20  ENTEROC_NMP_100mL       904 non-null    object
 21  CALIDAD_ENTEROC         904 non-null    object
 22  OD_PORC                 1797 non-null   object
 23  CALIDAD_OD_PORC         1797 non-null   object
 24  OD_PORC_SUP             1619 non-null   object
 25  CALIDAD_OD_PORC_SUP     1619 non-null   object
 26  OD_PORC_MED             487 non-null    object
 27  CALIDAD_OD_PORC_MED     487 non-null    object
 28  OD_PORC_FON             946 non-null    object
 29  CALIDAD_OD_PORC_FON     946 non-null    object
 30  TOX_D_48_UT             1816 non-null   object
 31  CALIDAD_TOX_D_48        1816 non-null   object
 32  TOX_V_15_UT             1819 non-null   object
 33  CALIDAD_TOX_V_15        1819 non-null   object
 34  TOX_D_48_SUP_UT         762 non-null    object
 35  CALIDAD TOX_D_48_SUP    762 non-null    object
 36  TOX_D_48_FON_UT         0 non-null      float64
 37  CALIDAD_TOX_D_48_FON    0 non-null      float64
 38  TOX_FIS_SUP_15_UT       1674 non-null   object
 39  CALIDAD_TOX_FIS_SUP_15  1674 non-null   object
 40  TOX_FIS_FON_15_UT       0 non-null      float64
 41  CALIDAD_TOX_FIS_FON_15  0 non-null      float64
 42  SEMAFORO                3493 non-null   object
 43  CONTAMINANTES           2226 non-null   object
 44  CUMPLE_CON_DBO          3493 non-null   object
 45  CUMPLE_CON_DQO          3493 non-null   object
 46  CUMPLE_CON_SST          3493 non-null   object
 47  CUMPLE_CON_CF           3493 non-null   object
 48  CUMPLE_CON_E_COLI       3493 non-null   object
 49  CUMPLE_CON_ENTEROC      3493 non-null   object
 50  CUMPLE_CON_OD           3493 non-null   object
 51  CUMPLE_CON_TOX          3493 non-null   object
 52  GRUPO                   3493 non-null   object
 53  CLAVE                   4141 non-null   int64
dtypes: float64(7), int64(1), object(46)
memory usage: 1.7+ MB

Se puede observar que algunos datos que deberian ser tomados como numericos estan siendo almacenados como object

In [11]:
def has_numbers(inputString):
    return any(char.isdigit() for char in inputString)

In [12]:
posibleNumericColumns = []

for colname, coltype in df.dtypes.to_dict().items():
    if coltype ==  'object' : 
      for value in df[colname].values:
        if(has_numbers(str(value))):
          posibleNumericColumns.append(colname)
          break

Verificando los datos podemos observar que las siguientes columnas si pueden ser de tipo object (string), por lo que se remueven de nuestra lista floats

In [13]:
posibleNumericColumns.remove('SITIO')
posibleNumericColumns.remove('CUENCA')
posibleNumericColumns.remove('CUERPO DE AGUA')
posibleNumericColumns.remove('TIPO')

Despues de haber analizado columnas numericas eliminaremos las columnas que tienen todos los valores nulos con base en lo observado en df.info()

In [14]:
df = df.drop('TOX_D_48_FON_UT', axis = 1, inplace = False)
df = df.drop('CALIDAD_TOX_D_48_FON', axis = 1, inplace = False)
df = df.drop('TOX_FIS_FON_15_UT', axis = 1, inplace = False)
df = df.drop('CALIDAD_TOX_FIS_FON_15', axis = 1, inplace = False)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4141 entries, 0 to 4140
Data columns (total 50 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SITIO                   3493 non-null   object
 1   ORGANISMO_DE_CUENCA     3493 non-null   object
 2   MUNICIPIO               3493 non-null   object
 3   CUENCA                  3492 non-null   object
 4   CUERPO DE AGUA          3479 non-null   object
 5   TIPO                    3493 non-null   object
 6   SUBTIPO                 3479 non-null   object
 7   LONGITUD                3493 non-null   float64
 8   LATITUD                 3493 non-null   float64
 9   PERIODO                 3493 non-null   float64
 10  DBO_mg/L                2581 non-null   object
 11  CALIDAD_DBO             2581 non-null   object
 12  DQO_mg/L                2581 non-null   object
 13  CALIDAD_DQO             2581 non-null   object
 14  SST_mg/L                3489 non-null   object
 15  CALIDAD_SST             3489 non-null   object
 16  COLI_FEC_NMP_100mL      2582 non-null   object
 17  CALIDAD_COLI_FEC        2582 non-null   object
 18  E_COLI_NMP_100mL        2582 non-null   object
 19  CALIDAD_E_COLI          2582 non-null   object
 20  ENTEROC_NMP_100mL       904 non-null    object
 21  CALIDAD_ENTEROC         904 non-null    object
 22  OD_PORC                 1797 non-null   object
 23  CALIDAD_OD_PORC         1797 non-null   object
 24  OD_PORC_SUP             1619 non-null   object
 25  CALIDAD_OD_PORC_SUP     1619 non-null   object
 26  OD_PORC_MED             487 non-null    object
 27  CALIDAD_OD_PORC_MED     487 non-null    object
 28  OD_PORC_FON             946 non-null    object
 29  CALIDAD_OD_PORC_FON     946 non-null    object
 30  TOX_D_48_UT             1816 non-null   object
 31  CALIDAD_TOX_D_48        1816 non-null   object
 32  TOX_V_15_UT             1819 non-null   object
 33  CALIDAD_TOX_V_15        1819 non-null   object
 34  TOX_D_48_SUP_UT         762 non-null    object
 35  CALIDAD TOX_D_48_SUP    762 non-null    object
 36  TOX_FIS_SUP_15_UT       1674 non-null   object
 37  CALIDAD_TOX_FIS_SUP_15  1674 non-null   object
 38  SEMAFORO                3493 non-null   object
 39  CONTAMINANTES           2226 non-null   object
 40  CUMPLE_CON_DBO          3493 non-null   object
 41  CUMPLE_CON_DQO          3493 non-null   object
 42  CUMPLE_CON_SST          3493 non-null   object
 43  CUMPLE_CON_CF           3493 non-null   object
 44  CUMPLE_CON_E_COLI       3493 non-null   object
 45  CUMPLE_CON_ENTEROC      3493 non-null   object
 46  CUMPLE_CON_OD           3493 non-null   object
 47  CUMPLE_CON_TOX          3493 non-null   object
 48  GRUPO                   3493 non-null   object
 49  CLAVE                   4141 non-null   int64
dtypes: float64(3), int64(1), object(46)
memory usage: 1.6+ MB

Remplazamos valores de SI o NO con 1 y 0

In [16]:
df['CUMPLE_CON_DBO'] = df['CUMPLE_CON_DBO'].replace('SI',int(1))
df['CUMPLE_CON_DBO'] = df['CUMPLE_CON_DBO'].replace('NO',int(0))
df['CUMPLE_CON_DBO'] = df['CUMPLE_CON_DBO'].replace('ND',np.NaN)

In [17]:
df['CUMPLE_CON_DQO'] = df['CUMPLE_CON_DQO'].replace('SI',int(1))
df['CUMPLE_CON_DQO'] = df['CUMPLE_CON_DQO'].replace('NO',int(0))
df['CUMPLE_CON_DQO'] = df['CUMPLE_CON_DQO'].replace('ND',np.NaN)

In [18]:
df['CUMPLE_CON_SST'] = df['CUMPLE_CON_SST'].replace('SI',int(1))
df['CUMPLE_CON_SST'] = df['CUMPLE_CON_SST'].replace('NO',int(0))
df['CUMPLE_CON_SST'] = df['CUMPLE_CON_SST'].replace('ND',np.NaN)

In [19]:
df['CUMPLE_CON_CF'] = df['CUMPLE_CON_CF'].replace('SI',int(1))
df['CUMPLE_CON_CF'] = df['CUMPLE_CON_CF'].replace('NO',int(0))
df['CUMPLE_CON_CF'] = df['CUMPLE_CON_CF'].replace('ND',np.NaN)

In [20]:
df['CUMPLE_CON_E_COLI'] = df['CUMPLE_CON_E_COLI'].replace('SI',int(1))
df['CUMPLE_CON_E_COLI'] = df['CUMPLE_CON_E_COLI'].replace('NO',int(0))
df['CUMPLE_CON_E_COLI'] = df['CUMPLE_CON_E_COLI'].replace('ND',np.NaN)

In [21]:
df['CUMPLE_CON_ENTEROC'] = df['CUMPLE_CON_ENTEROC'].replace('SI',int(1))
df['CUMPLE_CON_ENTEROC'] = df['CUMPLE_CON_ENTEROC'].replace('NO',int(0))
df['CUMPLE_CON_ENTEROC'] = df['CUMPLE_CON_ENTEROC'].replace('ND',np.NaN)

In [22]:
df['CUMPLE_CON_OD'] = df['CUMPLE_CON_OD'].replace('SI',int(1))
df['CUMPLE_CON_OD'] = df['CUMPLE_CON_OD'].replace('NO',int(0))
df['CUMPLE_CON_OD'] = df['CUMPLE_CON_OD'].replace('ND',np.NaN)

In [23]:
df['CUMPLE_CON_TOX'] = df['CUMPLE_CON_TOX'].replace('SI',int(1))
df['CUMPLE_CON_TOX'] = df['CUMPLE_CON_TOX'].replace('NO',int(0))
df['CUMPLE_CON_TOX'] = df['CUMPLE_CON_TOX'].replace('ND',np.NaN)

Se puede observar que los ultimas registros vienen vacios

In [24]:
df.tail(100)

,SITIO,ORGANISMO_DE_CUENCA,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO,CLAVE
4041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4042
4042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4043
4043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4044
4044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4045
4045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4137
4137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4138
4138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4139
4139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4140
4140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4141

Buscamos el indice del ultimo registro que tiene informacion

In [25]:
indexRow = df.index[df['SITIO'] == 'RIO BRAVO 8 (PASO DE LOS INDIOS)']
indexRow

Int64Index([3492], dtype='int64')

In [26]:
df.loc[3492:].isnull().sum()

SITIO                     648
ORGANISMO_DE_CUENCA       648
MUNICIPIO                 648
CUENCA                    648
CUERPO DE AGUA            648
TIPO                      648
SUBTIPO                   648
LONGITUD                  648
LATITUD                   648
PERIODO                   648
DBO_mg/L                  648
CALIDAD_DBO               648
DQO_mg/L                  648
CALIDAD_DQO               648
SST_mg/L                  648
CALIDAD_SST               648
COLI_FEC_NMP_100mL        648
CALIDAD_COLI_FEC          648
E_COLI_NMP_100mL          648
CALIDAD_E_COLI            648
ENTEROC_NMP_100mL         649
CALIDAD_ENTEROC           649
OD_PORC                   648
CALIDAD_OD_PORC           648
OD_PORC_SUP               649
CALIDAD_OD_PORC_SUP       649
OD_PORC_MED               649
CALIDAD_OD_PORC_MED       649
OD_PORC_FON               649
CALIDAD_OD_PORC_FON       649
TOX_D_48_UT               648
CALIDAD_TOX_D_48          648
TOX_V_15_UT               648
CALIDAD_TOX_V_15          648
TOX_D_48_SUP_UT           649
CALIDAD TOX_D_48_SUP      649
TOX_FIS_SUP_15_UT         649
CALIDAD_TOX_FIS_SUP_15    649
SEMAFORO                  648
CONTAMINANTES             648
CUMPLE_CON_DBO            648
CUMPLE_CON_DQO            648
CUMPLE_CON_SST            648
CUMPLE_CON_CF             648
CUMPLE_CON_E_COLI         648
CUMPLE_CON_ENTEROC        649
CUMPLE_CON_OD             648
CUMPLE_CON_TOX            648
GRUPO                     648
CLAVE                       0
dtype: int64

In [27]:
4141 - 649

3492

Obtenemos el dataframe sin los registros nulos

In [28]:
df = df.drop(df.index[3493:])

In [29]:
df.shape

(3493, 50)

Empezamos la conversion de las columnas objeto que deberian ser float con una converstion tipo string, dado el problema del digito '<'

In [30]:
df[posibleNumericColumns] = df[posibleNumericColumns].astype(str)

In [31]:
df.iloc[:, 12:]

,DQO_mg/L,CALIDAD_DQO,SST_mg/L,CALIDAD_SST,COLI_FEC_NMP_100mL,CALIDAD_COLI_FEC,E_COLI_NMP_100mL,CALIDAD_E_COLI,ENTEROC_NMP_100mL,CALIDAD_ENTEROC,...,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO,CLAVE
0,54.08,Contaminada,13.75,Excelente,1162,Contaminada,98,Excelente,nan,NaN,...,1.0,0.0,1.0,0.0,1.0,NaN,1.0,1.0,LENTICO,1
1,nan,NaN,<10,Excelente,nan,NaN,nan,NaN,20,Excelente,...,NaN,NaN,1.0,NaN,NaN,1.0,1.0,1.0,COSTERO,2
2,nan,NaN,<10,Excelente,nan,NaN,nan,NaN,<3,Excelente,...,NaN,NaN,1.0,NaN,NaN,1.0,1.0,1.0,COSTERO,3
3,nan,NaN,13.9667,Excelente,nan,NaN,nan,NaN,<3,Excelente,...,NaN,NaN,1.0,NaN,NaN,1.0,1.0,1.0,COSTERO,4
4,nan,NaN,<10,Excelente,nan,NaN,nan,NaN,30,Excelente,...,NaN,NaN,1.0,NaN,NaN,1.0,1.0,1.0,COSTERO,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,<10,Excelente,122,Aceptable,2400,Contaminada,2400,Fuertemente contaminada,nan,NaN,...,1.0,1.0,1.0,0.0,0.0,NaN,1.0,1.0,LOTICO,3489
3489,115.88,Contaminada,54,Buena calidad,2400,Contaminada,4,Excelente,nan,NaN,...,0.0,0.0,1.0,0.0,1.0,NaN,1.0,1.0,LENTICO,3490
3490,87.64,Contaminada,70,Buena calidad,240,Aceptable,15,Excelente,nan,NaN,...,1.0,0.0,1.0,1.0,1.0,NaN,1.0,1.0,LOTICO,3491
3491,35.92,Aceptable,56,Buena calidad,2400,Contaminada,11,Excelente,nan,NaN,...,1.0,1.0,1.0,0.0,1.0,NaN,1.0,1.0,LOTICO,3492
3492,34.6,Aceptable,45,Buena calidad,2400,Contaminada,15,Excelente,nan,NaN,...,1.0,1.0,1.0,0.0,1.0,NaN,1.0,1.0,LOTICO,3493

Creamos una nueva columna con el sufijo Min, esta nueva columna nos indicara si cada valor en las columnas numericas del registro contenia la etiqueta de <

In [32]:
newNumericColumns = []

In [33]:
for idx, column in enumerate(posibleNumericColumns):

  strNumericColumn = posibleNumericColumns[idx] + 'Min'

  newNumericColumns.append(strNumericColumn)

  df.insert(df.columns.get_loc(posibleNumericColumns[idx]) + 1, strNumericColumn, "")

  df[strNumericColumn] = df[posibleNumericColumns[idx]].str.contains('<')

In [34]:
newNumericColumns

['DBO_mg/LMin',
 'DQO_mg/LMin',
 'SST_mg/LMin',
 'COLI_FEC_NMP_100mLMin',
 'E_COLI_NMP_100mLMin',
 'ENTEROC_NMP_100mLMin',
 'OD_PORCMin',
 'OD_PORC_SUPMin',
 'OD_PORC_MEDMin',
 'OD_PORC_FONMin',
 'TOX_D_48_UTMin',
 'TOX_V_15_UTMin',
 'TOX_D_48_SUP_UTMin',
 'TOX_FIS_SUP_15_UTMin']

Convertimos los valores booelanos de las nuevas columnas Min, 1 para indicar que tenia la etiqueta de '<' y 0 para indicar que es un valor mayor que la metrica

In [35]:
for column in newNumericColumns:
  df[column] = df[column].astype(int)

Remplazamos los valores que tengan el caracter '<' con el siguiente menor numero en su etiqueta

In [36]:
for column in posibleNumericColumns:
  
  for index, row in df.iterrows():

    if('<' in row[column]):
      number = row[column].split('<',1)[1]
      numberInt = (pd.to_numeric(number)) - 1
      df.loc[index, column] = str(numberInt)

In [37]:
for column in posibleNumericColumns:
  
  for index, row in df.iterrows():

    if('nan' in str(row[column])):
      df.loc[index, column] = np.nan

Ahora podemos convertir de Object(string) a un valor numerico las columnas para nuestros calculos estadisticos

In [38]:
for column in posibleNumericColumns:

  df[column] = pd.to_numeric(df[column])

In [39]:
df.iloc[:20, :20]

,SITIO,ORGANISMO_DE_CUENCA,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,LATITUD,PERIODO,DBO_mg/L,DBO_mg/LMin,CALIDAD_DBO,DQO_mg/L,DQO_mg/LMin,CALIDAD_DQO,SST_mg/L,SST_mg/LMin,CALIDAD_SST,COLI_FEC_NMP_100mL
0,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,22.24730,2020.0,6.00,0,Buena calidad,54.08,0,Contaminada,13.7500,0,Excelente,1162.0
1,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,22.90473,2020.0,NaN,0,NaN,NaN,0,NaN,9.0000,1,Excelente,NaN
2,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,22.89880,2020.0,NaN,0,NaN,NaN,0,NaN,9.0000,1,Excelente,NaN
3,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,22.89609,2020.0,NaN,0,NaN,NaN,0,NaN,13.9667,0,Excelente,NaN
4,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,22.87694,2020.0,NaN,0,NaN,NaN,0,NaN,9.0000,1,Excelente,NaN
5,BAHIA CABO SAN LUCAS,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.90250,22.88000,2020.0,NaN,0,NaN,NaN,0,NaN,22.0667,0,Excelente,NaN
6,LOS CABOS 2,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.90540,22.88310,2020.0,NaN,0,NaN,NaN,0,NaN,13.9667,0,Excelente,NaN
7,LAGUNA TODOS SANTOS - CENTRO DE LA LAGUNA,PENINSULA DE BAJA CALIFORNIA,LA PAZ,TODOS SANTOS,TODOS SANTOS,COSTERO,LAGUNA,-110.23902,23.43930,2020.0,NaN,0,NaN,NaN,0,NaN,57.8500,0,Buena calidad,NaN
8,MANANTIAL SAN REGIS,PENINSULA DE BAJA CALIFORNIA,LA PAZ,TODOS SANTOS,TODOS SANTOS,LOTICO,ARROYO,-110.22379,23.45805,2020.0,1.00,1,Excelente,9.00,1,Excelente,33.9000,0,Buena calidad,3873.0
9,AGUA CALIENTE II,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SANTIAGO,SANTIAGO,LOTICO,ARROYO,-109.80786,23.43995,2020.0,1.00,1,Excelente,9.00,1,Excelente,25.6000,0,Buena calidad,189.0
10,BOCA DE LA SIERRA,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN JOSE DEL CABO,SAN JOSE DEL CABO,LOTICO (HUMEDAL),ARROYO,-109.82610,23.39128,2020.0,4.26,0,Buena calidad,27.98,0,Aceptable,14.0000,0,Excelente,1408.0
11,HUMEDAL OASIS DE LA SIERRA EL PILAR 1,PENINSULA DE BAJA CALIFORNIA,LA PAZ,LAS POCITAS-SAN HILARIO,HUMEDAL OASIS DE LA SIERRA EL PILAR 1,LOTICO (HUMEDAL),ARROYO,-110.95153,24.50289,2020.0,1.00,1,Excelente,9.00,1,Excelente,9.0000,1,Excelente,15531.0
12,OASIS DE LA SIERRA EL PILAR 2,PENINSULA DE BAJA CALIFORNIA,LA PAZ,LAS POCITAS-SAN HILARIO,CUERPO DE AGUA DEL HUMEDAL,LOTICO (HUMEDAL),ARROYO,-111.00268,24.46953,2020.0,1.00,1,Excelente,9.00,1,Excelente,9.0000,1,Excelente,10.0
13,MANANTIAL CADUA√ëO,PENINSULA DE BAJA CALIFORNIA,LOS CABOS,SAN JOSE DEL CABO,SAN JOSE DEL CABO,LOTICO (HUMEDAL),CANAL,-109.77912,23.33700,2020.0,6.40,0,Aceptable,9.00,1,Excelente,9.0000,1,Excelente,24196.0
14,MANANTIAL SAN BARTOLO,PENINSULA DE BAJA CALIFORNIA,LA PAZ,SAN BARTOLO,SAN BARTOLO,LOTICO,ARROYO,-109.84545,23.73546,2020.0,1.00,1,Excelente,9.00,1,Excelente,9.0000,1,Excelente,218.0
15,HUMEDAL LOS COMONDU 1,PENINSULA DE BAJA CALIFORNIA,COMONDU,SANTO DOMINGO,HUMEDAL LOS COMONDU 1,LOTICO (HUMEDAL),ARROYO,-111.80531,26.06218,2020.0,1.00,1,Excelente,9.00,1,Excelente,9.0000,1,Excelente,663.0
16,ESTERO EL COYOTE,PENINSULA DE BAJA CALIFORNIA,MULEGE,SAN IGNACIO,ESTERO,COSTERO (HUMEDAL),ESTERO,-113.46249,26.80955,2020.0,NaN,0,NaN,NaN,0,NaN,9.0000,1,Excelente,NaN
17,ESTERO SAN JORGE LA POZA GRANDE,PENINSULA DE BAJA CALIFORNIA,COMONDU,SANTO DOMINGO,ESTERO,COSTERO,ESTERO,-112.09347,25.69695,2020.0,NaN,0,NaN,NaN,0,NaN,19.5333,0,Excelente,NaN
18,HUMEDAL LOS COMONDU 2,PENINSULA DE BAJA CALIFORNIA,COMONDU,SANTO DOMINGO,HUMEDAL LOS COMONDU 2,LOTICO (HUMEDAL),ARROYO,-111.83250,26.03686,2020.0,1.00,1,Excelente,9.00,1,Excelente,10.1000,0,Excelente,1408.0
19,PARQUE NACIONAL BAHIA DE LORETO 1,PENINSULA DE BAJA CALIFORNIA,LORETO,LORETO,GOLFO DE CALIFORNIA,COSTERO (HUMEDAL),BAHIA,-111.23517,25.72330,2020.0,NaN,0,NaN,NaN,0,NaN,9.0000,1,Excelente,NaN

In [40]:
df.iloc[:20, 20:40]

,COLI_FEC_NMP_100mLMin,CALIDAD_COLI_FEC,E_COLI_NMP_100mL,E_COLI_NMP_100mLMin,CALIDAD_E_COLI,ENTEROC_NMP_100mL,ENTEROC_NMP_100mLMin,CALIDAD_ENTEROC,OD_PORC,OD_PORCMin,CALIDAD_OD_PORC,OD_PORC_SUP,OD_PORC_SUPMin,CALIDAD_OD_PORC_SUP,OD_PORC_MED,OD_PORC_MEDMin,CALIDAD_OD_PORC_MED,OD_PORC_FON,OD_PORC_FONMin,CALIDAD_OD_PORC_FON
0,0,Contaminada,98.0,0,Excelente,NaN,0,NaN,NaN,0,NaN,46.8,0,Aceptable,NaN,0,NaN,NaN,0,NaN
1,0,NaN,NaN,0,NaN,20.0,0,Excelente,NaN,0,NaN,92.0,0,Excelente,95.4,0,Excelente,92.2,0,Excelente
2,0,NaN,NaN,0,NaN,2.0,1,Excelente,NaN,0,NaN,92.0,0,Excelente,95.4,0,Excelente,92.2,0,Excelente
3,0,NaN,NaN,0,NaN,2.0,1,Excelente,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,86.7,0,Excelente
4,0,NaN,NaN,0,NaN,30.0,0,Excelente,NaN,0,NaN,96.2,0,Excelente,95.9,0,Excelente,95.5,0,Excelente
5,0,NaN,NaN,0,NaN,2.0,1,Excelente,NaN,0,NaN,90.1,0,Excelente,95.2,0,Excelente,94.2,0,Excelente
6,0,NaN,NaN,0,NaN,90.0,0,Excelente,NaN,0,NaN,81.9,0,Excelente,82.4,0,Excelente,79.2,0,Excelente
7,0,NaN,NaN,0,NaN,402.0,0,Contaminada,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,146.0,0,Contaminada
8,0,Contaminada,512.0,0,Buena calidad,NaN,0,NaN,83.6,0,Excelente,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
9,0,Buena calidad,2.0,1,Excelente,NaN,0,NaN,137.0,0,Contaminada,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
10,0,Contaminada,84.0,0,Excelente,NaN,0,NaN,90.0,0,Excelente,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
11,0,Fuertemente contaminada,538.0,0,Buena calidad,NaN,0,NaN,25.0,0,Contaminada,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
12,0,Excelente,2.0,1,Excelente,NaN,0,NaN,104.8,0,Excelente,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
13,0,Fuertemente contaminada,14136.0,0,Fuertemente contaminada,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
14,0,Aceptable,2.0,1,Excelente,NaN,0,NaN,95.1,0,Excelente,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
15,0,Aceptable,74.0,0,Excelente,NaN,0,NaN,93.4,0,Excelente,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
16,0,NaN,NaN,0,NaN,2.0,1,Excelente,NaN,0,NaN,89.2,0,Excelente,NaN,0,NaN,NaN,0,NaN
17,0,NaN,NaN,0,NaN,2.0,1,Excelente,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,101.6,0,Excelente
18,0,Contaminada,368.0,0,Buena calidad,NaN,0,NaN,85.4,0,Excelente,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
19,0,NaN,NaN,0,NaN,2.0,1,Excelente,NaN,0,NaN,110.7,0,Buena calidad,108.6,0,Excelente,107.9,0,Excelente

In [41]:
df.iloc[:20, 40:60]

,TOX_D_48_UT,TOX_D_48_UTMin,CALIDAD_TOX_D_48,TOX_V_15_UT,TOX_V_15_UTMin,CALIDAD_TOX_V_15,TOX_D_48_SUP_UT,TOX_D_48_SUP_UTMin,CALIDAD TOX_D_48_SUP,TOX_FIS_SUP_15_UT,TOX_FIS_SUP_15_UTMin,CALIDAD_TOX_FIS_SUP_15,SEMAFORO,CONTAMINANTES,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC
0,NaN,0,NaN,NaN,0,NaN,0.0,1,No Toxico,0.0,1,No Toxico,Rojo,"DQO,CF,",1.0,0.0,1.0,0.0,1.0,NaN
1,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,0.0,1,No Toxico,Verde,NaN,NaN,NaN,1.0,NaN,NaN,1.0
2,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,0.0,1,No Toxico,Verde,NaN,NaN,NaN,1.0,NaN,NaN,1.0
3,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,0.0,1,No Toxico,Verde,NaN,NaN,NaN,1.0,NaN,NaN,1.0
4,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,0.0,1,No Toxico,Verde,NaN,NaN,NaN,1.0,NaN,NaN,1.0
5,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,0.0,1,No Toxico,Verde,NaN,NaN,NaN,1.0,NaN,NaN,1.0
6,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,0.0,1,No Toxico,Verde,NaN,NaN,NaN,1.0,NaN,NaN,1.0
7,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,0.0,1,No Toxico,Rojo,"ENT_FEC,OD%F,",NaN,NaN,1.0,NaN,NaN,0.0
8,0.0,1,No Toxico,0.0,1,No Toxico,NaN,0,NaN,NaN,0,NaN,Amarillo,"CF,",1.0,1.0,1.0,0.0,1.0,NaN
9,0.0,1,No Toxico,0.0,1,No Toxico,NaN,0,NaN,NaN,0,NaN,Amarillo,"OD%L,",1.0,1.0,1.0,1.0,1.0,NaN
10,0.0,1,No Toxico,0.0,1,No Toxico,NaN,0,NaN,NaN,0,NaN,Amarillo,"CF,",1.0,1.0,1.0,0.0,1.0,NaN
11,0.0,1,No Toxico,0.0,1,No Toxico,NaN,0,NaN,NaN,0,NaN,Amarillo,"CF,OD%L,",1.0,1.0,1.0,0.0,1.0,NaN
12,0.0,1,No Toxico,0.0,1,No Toxico,NaN,0,NaN,NaN,0,NaN,Verde,NaN,1.0,1.0,1.0,1.0,1.0,NaN
13,0.0,1,No Toxico,0.0,1,No Toxico,NaN,0,NaN,NaN,0,NaN,Amarillo,"CF,E_COLI,",1.0,1.0,1.0,0.0,0.0,NaN
14,0.0,1,No Toxico,0.0,1,No Toxico,NaN,0,NaN,NaN,0,NaN,Verde,NaN,1.0,1.0,1.0,1.0,1.0,NaN
15,0.0,1,No Toxico,0.0,1,No Toxico,NaN,0,NaN,NaN,0,NaN,Verde,NaN,1.0,1.0,1.0,1.0,1.0,NaN
16,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,0.0,1,No Toxico,Verde,NaN,NaN,NaN,1.0,NaN,NaN,1.0
17,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,0.0,1,No Toxico,Verde,NaN,NaN,NaN,1.0,NaN,NaN,1.0
18,0.0,1,No Toxico,0.0,1,No Toxico,NaN,0,NaN,NaN,0,NaN,Amarillo,"CF,",1.0,1.0,1.0,0.0,1.0,NaN
19,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,0.0,1,No Toxico,Verde,NaN,NaN,NaN,1.0,NaN,NaN,1.0

# Clasificacion

En esta secci√≥n de c√≥digo, comenzamos asignando un valor num√©rico a las variables de salida. En este caso fueron: verde = 2, rojo = 1, amarillo = 0

In [42]:
lbe = LabelEncoder()
df["SEMAFORO_Type"] = lbe.fit_transform(df["SEMAFORO"])
df["SEMAFORO_Type"].unique()

array([1, 2, 0])

Comprobaci√≥n de los nombres num√©ricos de las variables de salida

In [43]:
df[['SEMAFORO','SEMAFORO_Type']]

      SEMAFORO  SEMAFORO_Type
0         Rojo              1
1        Verde              2
2        Verde              2
3        Verde              2
4        Verde              2
...        ...            ...
3488  Amarillo              0
3489      Rojo              1
3490      Rojo              1
3491  Amarillo              0
3492  Amarillo              0

[3493 rows x 2 columns]

Tomaremos las variables numericas como las variables independientes ademas de su etiquetado como minima o maxima

In [44]:
newNumericColumns = []

for column in posibleNumericColumns:

  newNumericColumns.append(column)
  newNumericColumns.append(column + 'Min')

In [45]:
df[newNumericColumns].head(25)

,DBO_mg/L,DBO_mg/LMin,DQO_mg/L,DQO_mg/LMin,SST_mg/L,SST_mg/LMin,COLI_FEC_NMP_100mL,COLI_FEC_NMP_100mLMin,E_COLI_NMP_100mL,E_COLI_NMP_100mLMin,...,OD_PORC_FON,OD_PORC_FONMin,TOX_D_48_UT,TOX_D_48_UTMin,TOX_V_15_UT,TOX_V_15_UTMin,TOX_D_48_SUP_UT,TOX_D_48_SUP_UTMin,TOX_FIS_SUP_15_UT,TOX_FIS_SUP_15_UTMin
0,6.00,0,54.08,0,13.7500,0,1162.0,0,98.0,0,...,NaN,0,NaN,0,NaN,0,0.0,1,0.0,1
1,NaN,0,NaN,0,9.0000,1,NaN,0,NaN,0,...,92.2,0,NaN,0,NaN,0,NaN,0,0.0,1
2,NaN,0,NaN,0,9.0000,1,NaN,0,NaN,0,...,92.2,0,NaN,0,NaN,0,NaN,0,0.0,1
3,NaN,0,NaN,0,13.9667,0,NaN,0,NaN,0,...,86.7,0,NaN,0,NaN,0,NaN,0,0.0,1
4,NaN,0,NaN,0,9.0000,1,NaN,0,NaN,0,...,95.5,0,NaN,0,NaN,0,NaN,0,0.0,1
5,NaN,0,NaN,0,22.0667,0,NaN,0,NaN,0,...,94.2,0,NaN,0,NaN,0,NaN,0,0.0,1
6,NaN,0,NaN,0,13.9667,0,NaN,0,NaN,0,...,79.2,0,NaN,0,NaN,0,NaN,0,0.0,1
7,NaN,0,NaN,0,57.8500,0,NaN,0,NaN,0,...,146.0,0,NaN,0,NaN,0,NaN,0,0.0,1
8,1.00,1,9.00,1,33.9000,0,3873.0,0,512.0,0,...,NaN,0,0.0,1,0.0,1,NaN,0,NaN,0
9,1.00,1,9.00,1,25.6000,0,189.0,0,2.0,1,...,NaN,0,0.0,1,0.0,1,NaN,0,NaN,0
10,4.26,0,27.98,0,14.0000,0,1408.0,0,84.0,0,...,NaN,0,0.0,1,0.0,1,NaN,0,NaN,0
11,1.00,1,9.00,1,9.0000,1,15531.0,0,538.0,0,...,NaN,0,0.0,1,0.0,1,NaN,0,NaN,0
12,1.00,1,9.00,1,9.0000,1,10.0,0,2.0,1,...,NaN,0,0.0,1,0.0,1,NaN,0,NaN,0
13,6.40,0,9.00,1,9.0000,1,24196.0,0,14136.0,0,...,NaN,0,0.0,1,0.0,1,NaN,0,NaN,0
14,1.00,1,9.00,1,9.0000,1,218.0,0,2.0,1,...,NaN,0,0.0,1,0.0,1,NaN,0,NaN,0
15,1.00,1,9.00,1,9.0000,1,663.0,0,74.0,0,...,NaN,0,0.0,1,0.0,1,NaN,0,NaN,0
16,NaN,0,NaN,0,9.0000,1,NaN,0,NaN,0,...,NaN,0,NaN,0,NaN,0,NaN,0,0.0,1
17,NaN,0,NaN,0,19.5333,0,NaN,0,NaN,0,...,101.6,0,NaN,0,NaN,0,NaN,0,0.0,1
18,1.00,1,9.00,1,10.1000,0,1408.0,0,368.0,0,...,NaN,0,0.0,1,0.0,1,NaN,0,NaN,0
19,NaN,0,NaN,0,9.0000,1,NaN,0,NaN,0,...,107.9,0,NaN,0,NaN,0,NaN,0,0.0,1
20,NaN,0,NaN,0,9.0000,1,NaN,0,NaN,0,...,104.9,0,NaN,0,NaN,0,NaN,0,0.0,1
21,NaN,0,NaN,0,9.0000,1,NaN,0,NaN,0,...,106.4,0,NaN,0,NaN,0,NaN,0,0.0,1
22,NaN,0,NaN,0,9.0000,1,NaN,0,NaN,0,...,103.2,0,NaN,0,NaN,0,NaN,0,0.0,1
23,NaN,0,NaN,0,16.8571,0,NaN,0,NaN,0,...,99.6,0,NaN,0,NaN,0,NaN,0,0.0,1
24,NaN,0,NaN,0,13.8667,0,NaN,0,NaN,0,...,104.2,0,NaN,0,NaN,0,NaN,0,0.0,1

In [78]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2344 sha256=c93148ddfa87c195cc4f3e658091b6d28a2f94c16338cd166c7be8914ef7436a
  Stored in directory: /root/.cache/pip/wheels/42/56/cc/4a8bf86613aafd5b7f1b310477667c1fca5c51c3ae4124a003
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [79]:
!pip install missingpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: missingpy in /usr/local/lib/python3.7/dist-packages (0.2.0)

In [74]:
import sklearn

In [81]:
import sys
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
from missingpy import MissForest

In [ ]:
imputer = MissForest(max_iter=12, n_jobs=-1)
X_imputed = imputer.fit_transform(df[newNumericColumns])

In [86]:
X_imputed

array([[  6.    ,   0.    ,  54.08  , ...,   1.    ,   0.    ,   1.    ],
       [ 24.7571,   0.    , 211.8324, ...,   0.    ,   0.    ,   1.    ],
       [ 24.7571,   0.    , 211.8324, ...,   0.    ,   0.    ,   1.    ],
       ...,
       [  4.4   ,   0.    ,  87.64  , ...,   0.    ,   4.1948,   0.    ],
       [  1.    ,   1.    ,  35.92  , ...,   0.    ,   4.1483,   0.    ],
       [  1.    ,   1.    ,  34.6   , ...,   0.    ,   5.0147,   0.    ]])

In [ ]:
# Add imputed values as columns to the untouched dataset

In [60]:
X.describe

<bound method NDFrame.describe of       DBO_mg/L  DBO_mg/LMin  DQO_mg/L  DQO_mg/LMin  SST_mg/L  SST_mg/LMin  \
0         True         True      True         True      True         True
1        False         True     False         True      True         True
2        False         True     False         True      True         True
3        False         True     False         True      True         True
4        False         True     False         True      True         True
...        ...          ...       ...          ...       ...          ...
3488      True         True      True         True      True         True
3489      True         True      True         True      True         True
3490      True         True      True         True      True         True
3491      True         True      True         True      True         True
3492      True         True      True         True      True         True

      COLI_FEC_NMP_100mL  COLI_FEC_NMP_100mLMin  E_COLI_NMP_100mL  \
0                   True                   True              True
1                  False                   True             False
2                  False                   True             False
3                  False                   True             False
4                  False                   True             False
...                  ...                    ...               ...
3488                True                   True              True
3489                True                   True              True
3490                True                   True              True
3491                True                   True              True
3492                True                   True              True

      E_COLI_NMP_100mLMin  ...  OD_PORC_FON  OD_PORC_FONMin  TOX_D_48_UT  \
0                    True  ...        False            True        False
1                    True  ...         True            True        False
2                    True  ...         True            True        False
3                    True  ...         True            True        False
4                    True  ...         True            True        False
...                   ...  ...          ...             ...          ...
3488                 True  ...        False            True         True
3489                 True  ...        False            True        False
3490                 True  ...        False            True         True
3491                 True  ...        False            True         True
3492                 True  ...        False            True         True

      TOX_D_48_UTMin  TOX_V_15_UT  TOX_V_15_UTMin  TOX_D_48_SUP_UT  \
0               True        False            True             True
1               True        False            True            False
2               True        False            True            False
3               True        False            True            False
4               True        False            True            False
...              ...          ...             ...              ...
3488            True         True            True            False
3489            True        False            True             True
3490            True         True            True            False
3491            True         True            True            False
3492            True         True            True            False

      TOX_D_48_SUP_UTMin  TOX_FIS_SUP_15_UT  TOX_FIS_SUP_15_UTMin
0                   True               True                  True
1                   True               True                  True
2                   True               True                  True
3                   True               True                  True
4                   True               True                  True
...                  ...                ...                   ...
3488                True              False                  True
3489                True               True                  True
3490                True              False                  True
3491                True              False                  True
3492                True              False                  True

[3493 rows x 28 columns]>

In [51]:
y.describe

<bound method NDFrame.describe of 0       1
1       2
2       2
3       2
4       2
       ..
3488    0
3489    1
3490    1
3491    0
3492    0
Name: SEMAFORO_Type, Length: 3493, dtype: int64>

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)

In [ ]:
# Creating the classifier object
clf_gini = DecisionTreeClassifier(criterion = "gini",
            random_state = 100,max_depth=5, min_samples_leaf=5)
  
    # Performing training
clf_gini.fit(X_train, y_train)

In [53]:
from sklearn import tree

In [56]:
SemaforosNames = df["SEMAFORO"].unique()
SemaforosNames

array(['Rojo', 'Verde', 'Amarillo'], dtype=object)

In [ ]:
fig = plt.figure(figsize=(25,20))
_ = tree.plot_tree(clf_gini, 
                   feature_names=newNumericColumns,  
                   class_names=SemaforosNames,
                   filled=True)

In [ ]:
y_pred_en = clf_gini.predict(X_test)
y_pred_en

In [ ]:
print (("Accuracy is"), accuracy_score (y_test,y_pred_en) *100)